
/*position------------------*/

#header {
    margin: 0;
    padding: 0;
}

img{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
}

.reset{
    margin: 0;
    padding: 0;
}

.header_top{
    display: inline-flex;
}

.center{
    margin: 0 auto;
}

.center_content{
    text-align: center;
}

.espace{
    margin-bottom: 20px;
}

/* colors-----------------*/

.gold{
    background-color: #866e2f;
}

body {
    background-color: #f4f4f4;
}
.grey{
    background-color: #414141;
    color: #f4f4f4;
}

/*images-----------------------*/

.images{
    width: 100%;
}


/*navigation--------------------*/



#navbarSpeakeasy{
    text-align: center;
  }

#navbarSpeakeasy a:hover{
    background-color: #866e2f;
    color: #414141;
    padding-left: 10%;
  }

/*footer-------------------------*/

#footer ul{
    display: inline-flex;
}

#footer li{
    padding: 10px;
    list-style: none;
    font-size: xx-large;
}

#footer i{
    color:#f4f4f4;
}

/*book_banner-----------------------*/

.book_btn{
    width: 66%;
    margin: 10px 10px 10px 0;
    padding: 0 6px;
    background-color: #866e2f;
    vertical-align: auto;
    color: #f4f4f4;
}

#booking_banner{
    margin-bottom: 20PX;
}

#banner_background{
    background-image: url(../images/HF_logo.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: contain;
    padding: 20px;
    overflow: visible;
    position: relative;
    top: -17px;
}

#banner_container{
    height:60px;
}